html body {
    background-color: hsl(210, 46%, 95%);
}

html h5 {
    letter-spacing: 0.4px;
}

html h5, .avatar-name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

html .card {
    max-width: 730px;
    min-width: 320px;
    border: 0;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    color: hsl(214, 17%, 51%);
    border-radius: 10px;
    box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.card-img {
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

html .card-body {
    padding: 1.5rem 2rem 0;
}

html .card-footer {
    background-color: transparent;
    border: 0;
    padding: 0.8rem 2rem 0.8rem;
    margin-top: 1rem;
}

img.avatar {
    border-radius: 50%;
    width: 50px;
}

.avatar-name, 
.date {
    padding: 0 10px;
}

.date {
    color: hsl(212, 23%, 69%);
}

button.share-button {
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    position: relative;
}

button img {
    padding-bottom: 5px;
}

button.share-button:hover,
button.share-button:active,
button.share-button:focus {
    background-color: hsl(214, 17%, 51%);
}

button.share-button:hover .fa-share,
button.share-button:active .fa-share,
button.share-button:focus .fa-share {
    color: hsl(210, 46%, 95%);
}

.fa-share {
    color: hsl(214, 17%, 51%);
}

.popup {
    display: none;
    opacity: 0;
    transition: all 0.5s ease-out ;
}

.visible {
    opacity: 1;
    background-color: hsl(217, 19%, 35%);
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -96%;
    display: flex;
}

.visible::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

#popup .images,
.card-footer.clicked .images {
    color: #ffffff;
    display: flex;

}

#popup .images a,
.card-footer.clicked .images a {
    color: #ffffff;
}

#popup .images a:hover,
.card-footer.clicked .images a:hover {
    color: hsl(212, 23%, 69%);
    transition: color .15s ease-in-out;
}

#popup .images i {
    padding: 0 5px;
    font-size: 16px;
}

.card-footer.clicked .images i {
    padding: 0 5px;
}

#popup .text,
.card-footer.clicked .text {
    padding-right: 10px;
    letter-spacing: 5px;
}

.card-footer .select {
    display: none;
}

.attribution {
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

@media screen and (max-width: 991px) {
    html h5 {
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.5;
    }

    img.card-img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        max-height: 200px;
    }

    #popup {
        display: none;
    }

    .card-footer.clicked {
        background-color: hsl(217, 19%, 35%);
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
    }

    .card-footer.clicked .select {
        display: flex;
        height: 50px;
    }

    .card-footer.clicked .unselect {
        display: none;
    }
}